div {
    color: aqua;
}

#div1 {
    color: blue;
}

#div2 {
    color: blueviolet;
}
.large-font{
    font-size: large;
}
.deep-background{
    background-color: blueviolet;
    font-size: 4rem;
}
.version{
    background-color: aqua;
    color:antiquewhite;
    padding:2px 10px;
    border: radius 10px;
}